body {
    margin: 0;
    background: #000;
    color: #FFF;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#graph {
    display: flex;
}

#graph canvas {
    flex-grow: 0;
}

#canvas-container {
}
